<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>RAMSES Bot</title>
  <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.16/dist/tailwind.min.css" rel="stylesheet">
  <script src="https://cdn.tailwindcss.com"></script>
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;800&display=swap"
    rel="stylesheet">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css">
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.2.1/dist/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
  <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">

  <style>
    #typing-text {
        overflow-wrap: break-word;
      }
    .card-bg {
     {% load static %}
      background-image: url("{% static 'ramses_app/claws1.png' %}"); 
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
    }

    .bg-logo{
        {% load static %}
      background-image: url("{% static 'ramses_app/header1.jpg' %}") ; 
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
    }
    .bg-opacity-custom {
      background-color: rgba(255, 255, 255, 0.2); /* Adjust opacity as needed */
    }
    .typing-animation {
                position: relative;
                display: inline-block;
                white-space: normal; 
                overflow: hidden;
    }
    .typing-animation:after {
        content: '';
        position: absolute;
        right: 0;
        width: 2px;
        background-color: black; /* Cursor color */
        animation: blink-caret 0.75s step-end infinite;
    }
    
    @keyframes blink-caret {
        from, to { border-color: transparent; }
        50% { border-color: black; }
    }

    .dot {
      display: inline-block;
      width: 1rem;
      height: 1rem;
      margin: 0 0.3rem;
      border-radius: 50%;
      background: #007bff;
      animation: bounce 1s infinite;
  }

  .dot:nth-child(2) {
      animation-delay: 0.2s;
  }

  .dot:nth-child(3) {
      animation-delay: 0.4s;
  }

  @keyframes bounce {
      0%, 80%, 100% {
          transform: translateY(0);
      }
      40% {
          transform: translateY(-1rem);
      }
  }
  </style>
</head>
<body class="flex items-center justify-center h-screen py-3">
  <div class="flex w-full h-full">
    <div class="flex-1 hidden md:flex items-center justify-center">
      <!-- Placeholder for left-side content -->
    </div>

    <div id="chat-container" class="p-6 rounded-lg shadow-lg w-full max-w-md h-full flex flex-col">

        <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner rounded-lg">
              <div class="carousel-item active">
                {% load static %}
                <img src="{% static 'ramses_app/head1.jpg' %}" class="block w-full" alt="Wild Landscape" />
              </div>
              <div class="carousel-item">
                {% load static %}
                <img src="{% static 'ramses_app/head2.jpg' %}" class="block w-full" alt="Wild Landscape" />
              </div>
              <div class="carousel-item">
                {% load static %}
                <img src="{% static 'ramses_app/head3.jpg' %}" class="block w-full" alt="Wild Landscape" />
              </div>
            </div>
          </div>
        
      <div id="chatbox" class="flex-1 overflow-y-auto card-bg bg-opacity-custom">
        <div class="mb-2">
            <p class="bg-gray-200 text-gray-700 rounded-lg py- 2 px-4 inline-block p-4"> <b> Welcome to MTN 237 Boss 😎. </b><br><br>MTN Cameroon offre à <b>237 Camerounais</b>  une chance de changer leur vie en devenant Boss 💪. 
                <br>👉 <b>237 véhicules utilitaires</b>  à <b> Gagner</b> 🛺🚗🚚 . <br> Comment puis-je vous aider 😊 ?
                <br>
                ---------------------------------
                <br>
                MTN Cameroon is giving <b>237 Cameroonians</b> a chance to change their lives and become Bosses 💪
                <br>
                👉 <b>237 utility Vehicles</b>  to <b>Win</b>  🛺🚗🚚 . How can I assist you 😊 ?
                <br>
            </p>
        </div>
    </div>
        <div class="relative flex">
            <input id="user-input" type="text" placeholder="Say something..." class="text-md w-full focus:outline-none focus:placeholder-gray-400 text-gray-600 placeholder-gray-600 pl-3 pr-16 bg-gray-100 border-2 border-gray-200 focus:border-[#FFCB00] rounded-full py-2" />
            <div class="absolute right-2 items-center inset-y-1 sm:flex">
                <button id="send-button" type="button" class="inline-flex items-center justify-center rounded-full h-8 w-8 transition duration-200 ease-in-out text-white bg-[#FFCB00] hover:bg-[#FFCB00] focus:outline-none">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-send" viewBox="0 0 16 16">
                        <path d="M15.854.146a.5.5 0 0 1 .11.54l-5.819 14.547a.75.75 0 0 1-1.329.124l-3.178-4.995L.643 7.184a.75.75 0 0 1 .124-1.33L15.314.037a.5.5 0 0 1 .54.11ZM6.636 10.07l2.761 4.338L14.13 2.576zm6.787-8.201L1.591 6.602l4.339 2.76z"/>
                    </svg>
                </button>
        </div>
      </div>
    </div>
  </div>
</body>
<script>
    let conversationHistory = [];
    const chatbox = document.getElementById("chatbox");
    const chatContainer = document.getElementById("chat-container");
    const userInput = document.getElementById("user-input");
    const sendButton = document.getElementById("send-button");
    const closeChatButton = document.getElementById("close-chat");

    let isChatboxOpen = true; // Set the initial state to open
    

    // Add an event listener to the send button
    sendButton.addEventListener("click", function () {
        const userMessage = userInput.value;
        if (userMessage.trim() !== "") {
            addUserMessage(userMessage);
            respondToUser(userMessage);
            userInput.value = "";
        }
    });
    
    userInput.addEventListener("keyup", function (event) {
        if (event.key === "Enter") {
            const userMessage = userInput.value;
            addUserMessage(userMessage);
            respondToUser(userMessage);
            userInput.value = "";
        }
    });
    
    function addUserMessage(message) {
        const messageElement = document.createElement("div");
        messageElement.classList.add("mb-2", "text-right");
        messageElement.innerHTML = `<p class="bg-[#FFCB00] text-white rounded-lg py-2 px-4 inline-block">${message}</p>`;
        chatbox.appendChild(messageElement);
        conversationHistory.push({ role: "user", content: message });
        chatbox.scrollTop = chatbox.scrollHeight;
        const loader = document.createElement('div');
        loader.id = 'loadingIndicator';
        loader.className = 'flex space-x-2 my-3';
    
        // Create the inner div elements
        for (let i = 0; i < 3; i++) {
            const innerDiv = document.createElement('div');
            innerDiv.className = 'w-3 h-3 bg-[#FFCB00] rounded-full dot';
            loader.appendChild(innerDiv);
        }
    
        // Append the new div to the desired parent element
        chatbox.appendChild(loader);
        chatbox.scrollTop = chatbox.scrollHeight;

    }
    
    function addBotMessage(message) {
      conversationHistory.push({ role: "assistant", content: message });
    const messageElement = document.createElement("div");
    messageElement.classList.add("mb-2");

    // Create a paragraph element for the typing animation
    const typingElement = document.createElement("p");
    typingElement.classList.add("bg-gray-200", "text-gray-700", "rounded-lg", "py-2","px-4", "inline-block", "typing-animation");

    if (chatbox.lastElementChild) {
      chatbox.removeChild(chatbox.lastElementChild);
      }

    // Append the paragraph to the message element
    messageElement.appendChild(typingElement);

    chatbox.appendChild(messageElement);
    
    // Start the typing animation
    typeWriter(message, typingElement);

    // Scroll to the bottom of the chatbox
    chatbox.scrollTop = chatbox.scrollHeight;
}


function typeWriter(text, element, delay = 50) {
    let index = 0;
    element.innerHTML = '';
  
    const typing = setInterval(() => {
      if (index < text.length) {
        const char = text.charAt(index);
        if (char === '\n') {
          // Créez un élément br pour le saut de ligne
          const br = document.createElement('br');
          element.appendChild(br);
          index++;

        } else if (char === '<') {
          // Créez un élément HTML si la balise est ouverte
          const tag = text.substring(index, text.indexOf('>', index) + 1);
          const elem = document.createElement('div');
          elem.innerHTML = tag;
          if (elem.firstChild) {
            element.appendChild(elem.firstChild);
          }
          index += tag.length;
          
        } else {
          // Ajoutez le caractère à l'élément parent
          element.innerHTML += char;
          index++;
        }

      } else {
        clearInterval(typing);
        // Remove the blinking cursor after typing is done
        element.classList.remove('typing-animation');
        element.style.borderRight = 'none'; // Remove the cursor effect
        document.getElementById('user-input').disabled = false
        document.getElementById('send-button').disabled = false; 
        chatbox.scrollTop = chatbox.scrollHeight;

      }
      
    }, delay);

  }

    async function generateResponse(input) {
    document.getElementById('user-input').disabled = true;
    document.getElementById('send-button').disabled = true;
    event.preventDefault();
    const endpoint = '{{endpoint}}'+'/chat/'; // Replace with your chatbot endpoint URL
    const payload = {
        conversation: conversationHistory
    };

    try {
        const response = await fetch(endpoint, {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify(payload)
        });

        if (!response.ok) {
            throw new Error(`HTTP error! status: ${response.status}`);
        }

        const data = await response.json();
        return data.response; // Adjust based on your API's response structure
    } catch (error) {
        return 'Sorry, something went wrong. Please try again later.';
    }

    }


    async function respondToUser(userMessage) {
        // Replace this with your chatbot logic
        try {
            const response = await generateResponse(userMessage);
            addBotMessage(response);
        }
        catch (error) {
            addBotMessage('Sorry, I couldn\'t understand that. Please try again.');
        }
    
    }
        
    </script>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.6/dist/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.2.1/dist/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>

</html>